In [1]:
import pandas as pd
import numpy as np
import re # We import Python's Regular Expressions library

In [2]:
def get_quoted_value(source_string):
    quote_pattern = '\"(.*?)\"'
    match = re.search(quote_pattern, line).group(1)
    return match

lichess_data = r"C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\lichess_db_standard_rated_2022_08.pgn"
file = open(lichess_data, mode="r")

black_elos = []

for line in file:

    if line.startswith('[BlackElo'):
        black_elos.append(get_quoted_value(line))

In [3]:
print("black_elos observations: " , len(black_elos))

black_elos observations:  92670440

In [4]:
df = pd.DataFrame(
    {
        'Black Elo': black_elos
    }
)

In [5]:
df.to_csv(r'C:\Users\PC\Desktop\Springboard Data Science Career Track\Github Springboard Repository\Springboard\DataScience Capstone 2\lichess_dataframe_black_elos.csv')

In [6]:
df.head(100)

   Black Elo
0       1910
1       1782
2       2355
3       1996
4       1831
..       ...
95      1907
96      1358
97       779
98      1624
99      2099

[100 rows x 1 columns]